<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Untitled Document</title>
    <style>
        h1.sansserif {
            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }

        p.parkname {
            margin-top: 0em;
            margin-bottom: 0em;
            font-family: Arial, Helvetica, sans-serif;
            color: #3e7032;
            font-size: 36px;
        }

        p.small {
            margin-top: 1em;
            margin-bottom: 0em;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-size: 16px;
        }

        p.large {
            margin-top: 0em;
            margin-bottom: 0em;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-size: 48px;
        }

        p.parkkeyword {
            margin-top: 0em;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-size: 24px;
        }

        p.sansserif {
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-size: 24px;
        }

        body {
            background-color: #75C159;
        }
    </style>
    <script type="text/javascript">
        var show_stat = function (park_dic) {
            var row, cell, cellText, newp, br, font;

            newp = document.createElement("p");
            newp.setAttribute("class", "parkname");
            cellText = document.createTextNode(park_dic.park_name)
            newp.appendChild(cellText);
            document.body.appendChild(newp);

            // creates a <table> element and a <tbody> element
            var tbl = document.createElement("table");
            var tblBody = document.createElement("tbody");
            // creates a table row
            row = document.createElement("tr");

            cell = document.createElement("td");
            cell.setAttribute("rowspan", "2");
            cell.setAttribute("width", "135");
            img = document.createElement('img');
            img.setAttribute("src", park_dic.photos[0].images.standard_resolution.url);
            //img.setAttribute("src", "image/thumbnail.jpg");
            img.setAttribute("width", "135");
            img.setAttribute("height", "135");
            cell.appendChild(img);
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.setAttribute("width", "450");
            newp = document.createElement("p");
            newp.setAttribute("class", "small");
            cellText = document.createTextNode("PHOTO KEYWORDS FOR LAST 24 HOURS:");
            newp.appendChild(cellText);
            cell.appendChild(newp);

            newp = document.createElement("p");
            newp.setAttribute("class", "parkkeyword");
            
            cellText = document.createTextNode(
                my_dic.photo_keywords[9]+", "+
                my_dic.photo_keywords[8]+", "+
                my_dic.photo_keywords[7]
                );
            newp.appendChild(cellText);
            cell.appendChild(newp);

            row.appendChild(cell);

            cell = document.createElement("td");
            cell.setAttribute("width", "45");
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.setAttribute("width", "100");
            row.appendChild(cell);

            // add the row to the end of the table body
            tblBody.appendChild(row);

            // creates a table row
            row = document.createElement("tr");

            cell = document.createElement("td");
            cell.setAttribute("width", "450");
            newp = document.createElement("p");
            newp.setAttribute("class", "small");
            cellText = document.createTextNode("TWITTER KEYWORDS FOR LAST 24 HOURS:");
            newp.appendChild(cellText);
            cell.appendChild(newp);

            newp = document.createElement("p");
            newp.setAttribute("class", "parkkeyword");
            
            cellText = document.createTextNode(
                "from Twitter:"+
                my_dic.tweet_keywords[9]+", "+
                my_dic.tweet_keywords[8]+", "+
                my_dic.tweet_keywords[7]
                );
            newp.appendChild(cellText);
            cell.appendChild(newp);

            row.appendChild(cell);

            cell = document.createElement("td");
            cell.setAttribute("width", "45");
            img = document.createElement('img');
            img.setAttribute("src", "image/upper_arrow.jpg");
            img.setAttribute("width", "41");
            img.setAttribute("height", "41");
            cell.appendChild(img);
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.setAttribute("width", "100");
            newp = document.createElement("p");
            newp.setAttribute("class", "large");
            //cellText = document.createTextNode("37%");
            var n = (+my_dic.trend)*100;
            cellText = document.createTextNode(n.toFixed(0)+"%");
            newp.appendChild(cellText);
            br = document.createElement("br");
            newp.appendChild(br);
            font = document.createElement("font");
            font.setAttribute("size", "-1");
            cellText = document.createTextNode("than normal level");
            font.appendChild(cellText);
            newp.appendChild(font);
            cell.appendChild(newp);
            row.appendChild(cell);

            // add the row to the end of the table body
            tblBody.appendChild(row);

            // put the <tbody> in the <table>
            tbl.appendChild(tblBody);
            // appends <table> into <body>
            document.body.appendChild(tbl)

        };

        var draw_thumbnails = function (my_dic) {
            var images_src = new Array();
            var columns = 8, i, max_image_slots,
                table = document.createElement('table'),
                tbody = table.appendChild(document.createElement('tbody')),
                tr, td, img;

            newp = document.createElement("p");
            newp.setAttribute("class", "small");
            cellText = document.createTextNode("PHOTOS FOR LAST 24 HOURS ("+my_dic.photos.length+"photos)");
            newp.appendChild(cellText);
            document.body.appendChild(newp);

            for (i=0; i<my_dic.photos.length; i++){
                images_src.push(my_dic.photos[i].images.low_resolution.url);

            }
            max_image_slots = images_src.length;
            table.setAttribute("border", "0");
            table.setAttribute("cellspacing", "0");
            table.setAttribute("cellpadding", "0");
           
            for (i = 0; i < max_image_slots; i++) {
                if (i % columns == 0) tr = tbody.appendChild(document.createElement('tr'));

                img = document.createElement('img');
                img.setAttribute("src", images_src[i]);
                img.setAttribute("width", "100");
                img.setAttribute("height", "100");

                tr.appendChild(document.createElement('td').appendChild(img));
            }
            document.body.appendChild(table);
        };
        var draw_line = function () {
            var hr = document.createElement("hr");
            document.body.appendChild(hr);
            var br = document.createElement("br");
            document.body.appendChild(br);
        };
    </script>
</head>

<body>

<script>

    var my_dic = {{park_dic|tojson}};
    console.log(my_dic)
    show_stat(my_dic);
    draw_thumbnails(my_dic);
    draw_line();

</script>

</body>
</html>