<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Untitled Document</title>
    <style>
        h1.sansserif {
            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }

        p.parkname {
            margin-top: 0em;
            margin-bottom: 0em;
            font-family: Arial, Helvetica, sans-serif;
            color: #3e7032;
            font-size: 36px;
        }

        p.small {
            margin-top: 1em;
            margin-bottom: 0em;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-size: 16px;
        }

        p.large {
            margin-top: 0em;
            margin-bottom: 0em;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-size: 48px;
        }

        p.parkkeyword {
            margin-top: 0em;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-size: 24px;
        }

        p.sansserif {
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-size: 24px;
        }

        body {
            background-color: #75C159;
        }
    </style>
    <script type="text/javascript">
        var show_stat = function (parkname, park_img_url, my_dic) {

            // creates a <table> element and a <tbody> element
            var tbl = document.createElement("table");
            var tblBody = document.createElement("tbody");
            var row, cell, cellText, newp, br, font;
            // creates a table row
            row = document.createElement("tr");

            cell = document.createElement("td");
            cell.setAttribute("rowspan", "2");
            cell.setAttribute("width", "135");
            img = document.createElement('img');
            img.setAttribute("src", park_img_url);
            //img.setAttribute("src", "image/thumbnail.jpg");
            img.setAttribute("width", "135");
            img.setAttribute("height", "135");
            cell.appendChild(img);
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.setAttribute("colspan", "4");
            newp = document.createElement("p");
            newp.setAttribute("class", "parkname");
            cellText = document.createTextNode(parkname);
            //cellText = document.createTextNode("Morningside Park");
            newp.appendChild(cellText);
            cell.appendChild(newp);
            row.appendChild(cell);

            // add the row to the end of the table body
            tblBody.appendChild(row);

            // creates a table row
            row = document.createElement("tr");

            cell = document.createElement("td");
            cell.setAttribute("width", "380");
            newp = document.createElement("p");
            newp.setAttribute("class", "small");
            cellText = document.createTextNode("KEYWORDS FOR LAST 24 HOURS:");
            newp.appendChild(cellText);
            cell.appendChild(newp);

            //get the data that you'll

            newp = document.createElement("p");
            newp.setAttribute("class", "parkkeyword");
            
//            console.log(my_dic.photo_keywords)

/*
            for (i=0; i<my_dic.photo_keywords.length; i++){
                cellText = document.createTextNode(my_dic.photo_keywords[i]);
                console.log(my_dic.photo_keywords[i])
            }*/

//            for (i=0; i<my_dic.photos.length; i++){
//               document.createTextNode(my_dic, photos)
//           }


            //cellText = document.createTextNode("Party, Trash, BBQ");
            cellText = document.createTextNode(
                my_dic.photo_keywords[0]+", "+
                my_dic.photo_keywords[1]+", "+
                my_dic.photo_keywords[2]
                );
            newp.appendChild(cellText);
            cell.appendChild(newp);

            row.appendChild(cell);

            cell = document.createElement("td");
            cell.setAttribute("width", "45");
            img = document.createElement('img');
            img.setAttribute("src", "image/upper_arrow.jpg");
            img.setAttribute("width", "41");
            img.setAttribute("height", "41");
            cell.appendChild(img);
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.setAttribute("width", "100");
            newp = document.createElement("p");
            newp.setAttribute("class", "large");
            //cellText = document.createTextNode("37%");
            var n = (+my_dic.trend)*100;
            cellText = document.createTextNode(n.toFixed(0)+"%");
            newp.appendChild(cellText);
            br = document.createElement("br");
            newp.appendChild(br);
            font = document.createElement("font");
            font.setAttribute("size", "-1");
            cellText = document.createTextNode("than normal level");
            font.appendChild(cellText);
            newp.appendChild(font);
            cell.appendChild(newp);
            row.appendChild(cell);

            cell = document.createElement("td");
            newp = document.createElement("p");
            newp.setAttribute("class", "small");
            cellText = document.createTextNode(my_dic.photos.length+" photos");
            newp.appendChild(cellText);
            br = document.createElement("br");
            newp.appendChild(br);
            cellText = document.createTextNode(my_dic.tweets.length+" tweets");
            newp.appendChild(cellText);
            cell.appendChild(newp);
            row.appendChild(cell);


            // add the row to the end of the table body
            tblBody.appendChild(row);

            // put the <tbody> in the <table>
            tbl.appendChild(tblBody);
            // appends <table> into <body>
            document.body.appendChild(tbl)

            newp = document.createElement("p");
            newp.setAttribute("class", "small");
            cellText = document.createTextNode("PHOTOS FOR LAST 24 HOURS");
            newp.appendChild(cellText);
            document.body.appendChild(newp)

        };

        var draw_thumbnails = function (my_dic) {
            var images_src = new Array();
            var columns = 16, i, max_image_slots,
                table = document.createElement('table'),
                tbody = table.appendChild(document.createElement('tbody')),
                tr, td, img;
            for (i=0; i<my_dic.photos.length; i++){
                console.log(my_dic.photos[i].images.low_resolution.url);
                images_src.push(my_dic.photos[i].images.low_resolution.url);

            }
            max_image_slots = (columns * 2);
            table.setAttribute("border", "0");
            table.setAttribute("cellspacing", "0");
            table.setAttribute("cellpadding", "0");
           if (images_src.length < columns){
                max_image_slots = images_src.length;
            }
            for (i = 0; i < max_image_slots; i++) {
                if (i % columns == 0) tr = tbody.appendChild(document.createElement('tr'));

                img = document.createElement('img');
                img.setAttribute("src", images_src[i]);
                img.setAttribute("width", "50");
                img.setAttribute("height", "50");

                tr.appendChild(document.createElement('td').appendChild(img));
            }
            document.body.appendChild(table);
        };
        var draw_line = function () {
            var hr = document.createElement("hr");
            document.body.appendChild(hr);
            var br = document.createElement("br");
            document.body.appendChild(br);
        };
    </script>
</head>

<body>


<h1 class="sansserif"> Hello James! </h1>

<p class="sansserif"> Here are the top priorities for today. </p>

<script>

	var my_dic = {{parks|tojson}};
    var num_park_list = my_dic.length;
    for (var i = 0; i < num_park_list; i++) {
    	console.log(i)
        show_stat("Central Park", "/img/M101.jpg", my_dic[i]);
        console.log(i)
        draw_thumbnails(my_dic[i]);
        draw_line();
    }
</script>

</body>
</html>